<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/login">登陆</a></li>
            <li><a href="/reg">注册</a></li>
        </ul>
    </nav>